<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<!-- Google Analytics -->
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-18494121-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

<head>
<style>
.round6 {
	border-radius:6px 6px 6px 6px; 
	-moz-border-radius:6px 6px 6px 6px;
}
.round6 {
	-webkit-border-top-left-radius:6px 6px; 
	-webkit-border-top-right-radius:6px 6px; 
	-webkit-border-bottom-right-radius:6px 6px; 
	-webkit-border-bottom-left-radius:6px 6px;
}
.round3 {
	border-radius:3px 3px 3px 3px; 
	-moz-border-radius:3px 3px 3px 3px;
}
.round3 {
	-webkit-border-top-left-radius:3px 3px; 
	-webkit-border-top-right-radius:3px 3px; 
	-webkit-border-bottom-right-radius:3px 3px; 
	-webkit-border-bottom-left-radius:3px 3px;
}
</style>   
      <title>BlankOn Tempel - Tempel dan Bagikan!</title>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=7">
      <meta name="description" content="BlankOn Tempel">
      <meta name="keywords" content="BlankOn Tempel, BlankOn, Tempel"> 
      <meta name="robots" content="noarchive">
      <link rel="shortcut icon" type="image/x-icon" href="/+media/favicon.ico">
      
      <link href="/+media/blankon.css" rel="stylesheet" type="text/css">
	  <link rel="stylesheet" type="text/css" href="/+media/pastie.css"/>
      <link rel="stylesheet" type="text/css" href="/+media/style.css"/>
      
      <script type="text/javascript">
		function setFocus() {
    	document.getElementById('content').focus();
		}
	  </script>
</head>

<body onload="setFocus()">
<div id="wrapper">
		<div id="header">
		<a href="#"><img src="/+media/logo.png" class="pngfix" alt="BlankOn Tempel"></a>
		<span style="margin: 8px 0pt 0pt 8px;">Tempel dan Bagikan!</span>
		</div> 
		<div id="body" class="round6">
			<div id="left-sidebar">
				<div class="block">
					<div class="content" align="center">
					<ul class="list">
						<li><a href="http://www2.blankonlinux.or.id/unduh/"><img width="158" height="50" src="/+media/unduh.png" alt="Unduh BlankOn"></a></li>
					</ul>
					</div>
				</div>
				<div class="block">
					<div class="content" align="center">
					<ul class="list">
						<li><a href="http://dev.blankonlinux.or.id/"><img width="158" height="50" src="/+media/dev.png" alt="Pengembang BlankOn"></a></li>
					</ul>
					</div>
				</div>
				<div class="block">
					<div class="content" align="center">
					<ul class="list">
						<li><a href="http://distrowatch.com/table.php?distribution=blankon"><img width="158" height="50" src="/+media/distrowatch.png" alt="BlankOn di DistroWatch"></a></li>
					</ul>
					</div>
				</div>
			</div>
			<div id="content">
				<div class="title nRound3 round3">
				<a href="./"><img src="/+media/box.png" alt="" style="margin-right: 4px;" class="icon pngfix" width="16" height="16"> Tempelan Baru</div></a>
				<form method="post">
				<label for="ctSyntaxLanguage" style="font-family: Arial; font-style: normal; font-variant: normal; font-weight: bold; font-size: 15px; line-height: normal; font-size-adjust: none; font-stretch: normal; -x-system-font: none; float: left; margin-top: 10px;">
				<img src="/+media/script_code.png" alt="" class="icon pngfix" width="16" height="16">Pilih Bahasa yang akan Ditempel:
				</label>
				<span class="nRound3 round3" style="border: 1px solid rgb(144, 169, 200); padding: 3px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial; float: left;">
				{{ form.language }}
				</span>
				<div class="clearfix">&nbsp;</div>
				<div class="nRound3 round3" style="border: 1px solid rgb(144, 169, 200); padding: 1px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; margin-top: 12px; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial;">
				<div style="border: 0pt none ; background: rgb(255, 255, 255) none repeat scroll 0% 0%; width: 100%; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial;">{{ form.content }}</div> 
				</div>
				<div style="float: right; margin-top: 25px;"><input value="Tempel" class="nRound3 nBtn" style="padding: 3px; width: 112px; margin-left: 6px; height: 25px; float: left;" type="submit"></div>
				<div style="float: left; margin-top: 25px;">
					<span class="nRound3 round3" style="border: 1px solid rgb(144, 169, 200); padding: 3px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial; float: left;">{{ form.private }}</span> 
					<label for="ctSyntaxLanguage" style="font-family: Arial; font-style: normal; font-variant: normal; font-weight: bold; font-size: 15px; line-height: normal; font-size-adjust: none; font-stretch: normal; -x-system-font: none; float: left; margin-top: 2px;">&nbsp;Rahasia</label>
				</div>
				</form>
			</div>
		</div>
		<div id="footer" class="round6">
		<span class="left" style="margin-left: 5px;"><a href="#" title="Site by Pengembang BlankOn">Dipersembahkan Oleh Pengembang BlankOn untuk Umum</a></span>
		<span class="right"><a style="margin-right: 24px;" href="http://blankonlinux.or.id/"><b>BlankOn Linux</b></a></span>
    	<div class="clearfix">&nbsp;</div>
        </div>
	</div>
</body>

</html>
